.table {
  > thead > tr > th {
    color: add  !important;
    border: 0;
    border-bottom-width: 1px;
  }
  > tbody > tr > td {
    color: add  !important;
    white-space: nowrap;
    font-size: 14px;
    vertical-align: middle;
  }
  > tbody > tr {
    border: 1px solid red;
    border: none;
  }
}

.table-responsive {
  overflow: scroll;
  padding-bottom: 10px;
}

.view-btn {
  color: #304163;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: #324e7b;
  }
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}
