@import "~bootstrap/scss/bootstrap";
.App {
  font-family: "Poppins";
  color: #1d253b;
}
img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btn-primary {
  background: none;
  border: none;
  padding: 5px;
  vertical-align: middle;

  &:focus,
  &:hover,
  &:active {
    background: none !important;
    box-shadow: 0 0 0 0.2rem rgba(194, 219, 245, 0.5) !important;
  }
}

.btn-secondary {
  background: #304163;
  border: none;
  vertical-align: middle;

  &:focus,
  &:hover,
  &:active {
    background: #304163 !important;
    box-shadow: 0 0 0 0.2rem rgba(194, 219, 245, 0.5) !important;
  }
}

dl {
  margin-bottom: 0;
}

dd {
  width: 100%;
}

.modal {
  font-family: "Poppins" !important;
  color: #1d253b;
}

h4 {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 10px 0;
  padding: 5px 0;
}

.filter-title {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.title {
  color: #304163;
  font-size: 24px;
}
.reset-btn {
  color: #1d253b;
  padding: 0;
  &:hover {
    text-decoration: underline;
    color: #1d253b;
  }
  &:focus {
    outline: none !important;
    box-shadow: none;
  }
}
